attrs
certifi
click
colorama
flasgger
Flask
importlib-metadata
itsdangerous
Jinja2
joblib
jsonschema
MarkupSafe
mistune
numpy
pandas
pyrsistent
python-dateutil
pytz
PyYAML
scikit-learn
scipy
threadpoolctl
typing-extensions
Werkzeug
wincertstore
zipp
